@model IEnumerable<BlogProject.Models.Post>

@{
    ViewData["Title"] = "Blog";
}

<h1>Il Mio Blog</h1>

<ul>
    @foreach (var post in Model)
    {
        <li>
            <a asp-controller="Blog" asp-action="Details" asp-route-id="@post.Id">@post.Title</a> -
            @post.CreatedAt.ToShortDateString()
        </li>
        <div class="editDeleteBox">
            <div>
                <a class="btn btn-primary" asp-controller="Blog" asp-action="Edit" asp-route-id="@post.Id">Modifica Post</a>
            </div>
            <div>
                <a class="btn btn-danger" asp-controller="Blog" asp-action="Delete" asp-route-id="@post.Id">Elimina Post</a>
            </div>
        </div>
    }
</ul>

<div>
    <a asp-controller="Blog" asp-action="Create">Crea Nuovo Post</a>
</div>
